<header class="site-header">
  <nav class="navbar">
    <div class="logo"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
    <button class="change-lang" id="languageSwitch">
      <span class="spinner" id="languageSpinner"></span>
      <span id="languageText">切换至英文</span>
    </button>
    <ul class="nav-links">
      <li><a href="{{ '/' | relative_url }}" data-i18n="index">首页</a></li>
      <li><a href="{{ '/projects' | relative_url }}" data-i18n="projects">项目</a></li>
      <li><a href="{{ '/relax' | relative_url }}" data-i18n="relax">放松一下</a></li>
      <li><a href="{{ '/workarea' | relative_url }}" data-i18n="workarea">工地</a></li>
    </ul>
  </nav>
</header>